<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NxtMov</title>
</head>
<body>
    <h1>Welcome to NxtMov: I have now edited this</h1>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div id="O4KIlw0W"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget(
        {
            "width": 980,
            "height": 610,
            "symbol": "NSE:NIFTY",
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "light",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "O4KIlw0W"
        }
        );
        </script>
    </div>
    <!-- TradingView Widget END -->
</body>
</html>

